#luxembourg #portfolio {
    margin-top: 20px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#luxembourg #portfolio>.portfolio-nav {
    margin-top: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

#luxembourg #portfolio>.portfolio-nav>span {
    color: #9F8764;
    font-size: 21px;
    font-size: 2.1rem;
    letter-spacing: 0.6rem;
    padding: 5px 40px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#luxembourg #portfolio>.portfolio-nav.on>span {
    background-color: #1D1D1D;
    border-right: 1px solid #9f8764;
    padding: 5px 110px;
    cursor: pointer;
}

#luxembourg #portfolio>.portfolio-nav.on>span:hover {
    background-color: #9f8764;
    color: #1D1D1D;
}

#luxembourg #portfolio>.portfolio-nav.on>span:last-child {
    border-right: none
}

#luxembourg #portfolio>.portfolio-nav.on img {
    display: none;
}

#luxembourg #portfolio>.portfolio-tab {
    /* margin-left: 10%; */
    margin-top: 80px;
    -webkit-transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#luxembourg #portfolio>.portfolio-tab.on {
    opacity: 0;
}

#luxembourg #portfolio>.portfolio-tab>.column {
    float: left;
    margin-left: -13px;
    position: relative;
    z-index: 2;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
    transform-style: preserve-3d;
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow {
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
    transform-style: flat;
    padding: 10px;
}


/* FIX BUG CHROME */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #luxembourg #portfolio>.portfolio-tab>.column>.prow {
        -webkit-perspective: none;
        -moz-perspective: none;
        -ms-perspective: none;
        perspective: none;
        padding: 10px;
    }
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow>div {
    width: 315px;
    height: 270px;
    margin-bottom: 5px;
    background-color: #ccc;
    overflow: hidden;
    position: relative;
    transform-style: flat;
    cursor: pointer;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center, center center;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow .thumb_nb,
#luxembourg #portfolio>.portfolio-tab>.column>.prow .thumb_color {
    width: 315px;
    height: 270px;
    /* background-color: #000; */
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center, center center;
    -webkit-transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow .thumb_nb {
    z-index: 9
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow.on>div>.thumb_nb {
    opacity: 0.5;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow .shadow {
    width: 315px;
    height: 270px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
}

#luxembourg #portfolio>.portfolio-tab>.column:nth-child(1)>.prow1>div {
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#luxembourg #portfolio>.portfolio-tab>.column:nth-child(1)>.prow2>div {
    -webkit-transform: rotateY(20deg);
    -moz-transform: rotateY(20deg);
    -ms-transform: rotateY(20deg);
    -o-transform: rotateY(20deg);
    transform: rotateY(20deg);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

#luxembourg #portfolio>.portfolio-tab>.column:nth-child(2)>.prow1>div {
    -webkit-transform: rotateY(20deg);
    -moz-transform: rotateY(20deg);
    -ms-transform: rotateY(20deg);
    -o-transform: rotateY(20deg);
    transform: rotateY(20deg);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

#luxembourg #portfolio>.portfolio-tab>.column:nth-child(2)>.prow2>div {
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#luxembourg #portfolio>.portfolio-tab>.column:nth-child(3)>.prow1>div {
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#luxembourg #portfolio>.portfolio-tab>.column:nth-child(3)>.prow2>div {
    -webkit-transform: rotateY(20deg);
    -moz-transform: rotateY(20deg);
    -ms-transform: rotateY(20deg);
    -o-transform: rotateY(20deg);
    transform: rotateY(20deg);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

#luxembourg #portfolio>.portfolio-tab>.column:nth-child(1)>.prow1>div>.shadow,
#luxembourg #portfolio>.portfolio-tab>.column:nth-child(2)>.prow2>div>.shadow,
#luxembourg #portfolio>.portfolio-tab>.column:nth-child(3)>.prow1>div>.shadow {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

#luxembourg #portfolio>.portfolio-tab>.column:nth-child(1)>.prow2>div>.shadow,
#luxembourg #portfolio>.portfolio-tab>.column:nth-child(2)>.prow1>div>.shadow,
#luxembourg #portfolio>.portfolio-tab>.column:nth-child(3)>.prow2>div>.shadow {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow>div>.shadow {
    -webkit-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow>div>.shadow {
    opacity: 1;
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow.on>div>.shadow {
    opacity: 0.5;
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow.on>div {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow>div>.description {
    position: absolute;
    z-index: 20;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 5px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow.on>div>.description {
    bottom: 0;
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow>div>.description>h1 {
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 0.12rem;
    font-size: 15px;
    font-size: 1.5rem;
    text-align: center;
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow>div>.description>p {
    margin: 0;
    padding: 0;
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow>div>.linkIcon {
    position: absolute;
    z-index: 20;
    top: 20%;
    left: 50%;
    margin-left: -44px;
    width: 88px;
    height: 88px;
    background-image: url("../images/luxembourg-link-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    -webkit-transform: scale(0) rotate(90deg);
    -moz-transform: scale(0) rotate(90deg);
    -ms-transform: scale(0) rotate(90deg);
    -o-transform: scale(0) rotate(90deg);
    transform: scale(0) rotate(90deg);
    opacity: 0;
}

#luxembourg #portfolio>.portfolio-tab>.column>.prow.on>div>.linkIcon {
    -webkit-transform: scale(0.75) rotate(0deg);
    -moz-transform: scale(0.75) rotate(0deg);
    -ms-transform: scale(0.75) rotate(0deg);
    -o-transform: scale(0.75) rotate(0deg);
    transform: scale(0.75) rotate(0deg);
    opacity: 1;
}

#luxembourg #portfolio .portfolio-bg-tab {
    position: relative;
    min-height: 300px;
}


/*FIX BUG CHROME*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #luxembourg #portfolio .portfolio-bg-tab {
        top: -18px;
    }
}

#luxembourg #portfolio .portfolio-bg-tab>div {
    position: absolute;
    z-index: 1;
}

#luxembourg #portfolio .portfolio-bg-tab>div:nth-child(1) {
    left: -3px;
    top: -15px;
}

#luxembourg #portfolio .portfolio-bg-tab>div:nth-child(2) {
    left: 374px;
    top: -15px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#luxembourg #portfolio .portfolio-bg-tab>div:nth-child(3) {
    left: 641px;
    top: -15px;
}

#luxembourg #portfolio .portfolio-bg-tab>div:nth-child(4) {
    left: 52px;
    bottom: 43px;
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    -o-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
}

#luxembourg #portfolio .portfolio-bg-tab>div:nth-child(5) {
    left: 319px;
    bottom: 43px;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

#luxembourg #portfolio .portfolio-bg-tab>div:nth-child(6) {
    right: 14px;
    bottom: 43px;
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    -o-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
}


/*FIX BUG CHROME*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #luxembourg #portfolio .portfolio-bg-tab>div:nth-child(1),
    #luxembourg #portfolio .portfolio-bg-tab>div:nth-child(2),
    #luxembourg #portfolio .portfolio-bg-tab>div:nth-child(3) {
        top: -5px;
    }
    #luxembourg #portfolio .portfolio-bg-tab>div:nth-child(4),
    #luxembourg #portfolio .portfolio-bg-tab>div:nth-child(5),
    #luxembourg #portfolio .portfolio-bg-tab>div:nth-child(6) {
        bottom: 55px;
    }
}


/*PORTFOLIO DETAILS*/

#portfolio-details {
    width: 100%;
    height: 630px;
    background-color: #1D1D1D;
    position: absolute;
    top: 31%;
    left: -100%;
    z-index: 99;
    -webkit-transition: all 900ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: all 900ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: all 900ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: all 900ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#portfolio-details.on {
    left: 0;
}

#portfolio-details .mCSB_scrollTools {
    right: 7px;
}

#portfolio-details>div:first-child {
    width: 30%;
    height: 100%;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

#portfolio-details>div:first-child .row {
    border: 1px solid #1d1d1d;
    background-color: #847053;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    width: 100%;
    height: auto;
    position: relative;
    display: block !important;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 99999;
}

#portfolio-details>div:first-child .row>span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#portfolio-details>div:first-child .row.filtered>span {
    opacity: 0.4 !important;
}

#portfolio-details>div:first-child .row.on>span {
    opacity: 0!important;
}

#portfolio-details>div:first-child .row.on {
    border-bottom: 1px solid #9f8764;
    /* border-top: 4px solid #9f8764; */
}

#portfolio-details>div:first-child .row.on>.col {
    /* background-color: #847053; */
}

#portfolio-details>div:first-child .row.on>.col:last-child>h1 {
    color: #fff;
}

#portfolio-details>div:first-child .row.on>.col>.logo-art {
    background-size: 110%;
}

#portfolio-details>div:first-child .row.on>.col>.logo-art>img {
    opacity: 0;
}

#portfolio-details>div:first-child .row>.col {
    width: 100%;
    display: inline-block !important;
    position: relative;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    vertical-align: middle !important;
}

#portfolio-details>div:first-child .row>.col>.logo-art {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#portfolio-details>div:first-child .row>.col>.logo-art>img {
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#portfolio-details>div:first-child .row.off {
    display: none;
}

#portfolio-details>div:first-child .row>.col:last-child {
    color: #e0dedd;
    padding: 5%;
}

#portfolio-details>div:first-child .row>.col:last-child>.description {
    color: #4a4a4a;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 10px;
}

#portfolio-details>div:first-child .row>.col:last-child>h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#portfolio-details>div:last-child {
    /* background-color: #e1dfde; */
    display: inline-block;
    height: 100%;
    margin-left: -4px;
    vertical-align: top;
    width: 70%;
}

#portfolio-details>div:last-child>nav {
    width: 100%;
    background-color: #68695f;
    position: relative;
}

#portfolio-details>div:last-child>nav>a {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    font-size: 2.3rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1% 3%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #aeaeaa;
    vertical-align: middle;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#portfolio-details>div:last-child>nav>a:hover,
#portfolio-details>div:last-child>nav>a.on {
    background-color: #1d1d1d;
    text-align: center;
}

#portfolio-details>div:last-child>nav>a.close {
    background-color: #1d1d1d;
    padding: 0.85% 0;
    position: absolute;
    right: 0%;
    text-align: center;
    top: -14px;
    width: 10%;
    z-index: 99;
}

#portfolio-details>div:last-child>nav>a.close>img {
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

#portfolio-details>div:last-child>nav>a.close:hover>img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#portfolio-details>div:last-child>section>.slideshow {
    display: inline-block;
    position: relative;
    width: 64%;
    margin-top: 10%;
    vertical-align: top;
}

#portfolio-details>div:last-child>section {
    visibility: hidden;
    position: absolute;
    width: 70.4%;
    -webkit-transition: all 950ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 950ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 950ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 950ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 950ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    opacity: 0;
}

#portfolio-details>div:last-child>section.on {
    visibility: visible;
    opacity: 1;
}

#portfolio-details>div:last-child>section>.slideshow .slick-dots {
    margin-bottom: -4%
}

#portfolio-details>div:last-child>section>.slideshow .slick-dots li.slick-active button:before {
    color: #e1dfde;
}

#portfolio-details>div:last-child>section>.slideshow .slick-dots li button:before {
    font-size: 16px;
    /* color: #68695F; */
    color: #E1DFDE;
}

#portfolio-details>div:last-child>section>article {
    background-color: #1d1d1d;
    color: #e1dfde;
    display: inline-block;
    margin: 3% 5% 0 3%;
    padding: 6% 0 0;
    text-align: justify;
    vertical-align: top;
    width: 25%;
}

#portfolio-details>div:last-child>section>article>h1 {
    padding: 1.5% 0;
    margin: 0;
    margin-bottom: 2%;
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
    color: #9f8764;
}

#portfolio-details>div:last-child>section>article a {
    color: #9f8764;
    text-decoration: none;
}

#portfolio-details>div:last-child>section>article .flickr-and-cie {
    background-color: #847053;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 200;
    left: 0;
    padding: 0.5%;
    position: absolute;
    text-indent: 2.5%;
    top: 1px;
    width: 99.4%;
}

#portfolio-details>div:last-child>section>article .flickr-and-cie>a {
    color: #1D1D1D;
    font-weight: 400;
    padding: 0 1%;
    text-shadow: 4px 4px 4px rgb(248, 232, 142);
}

#portfolio-details>div:last-child>section>article .flickr-and-cie>a>span {
    font-variant: small-caps;
}

#portfolio-details>div:last-child>section>article .developIn {
    display: inline-block;
    margin: 3% 4% 2% -1%;
    padding: 1% 0;
}

#portfolio-details>div:last-child>section>article .developIn>span {
    display: inline-block;
    background-image: url("../images/luxembourg-icones-html-css-jquery-etc-spreadsheets.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 48px;
    height: 45px;
}

#portfolio-details>div:last-child>section>article .developIn>span.css {
    background-position: -48px 0
}

#portfolio-details>div:last-child>section>article .developIn>span.jquery {
    background-position: -96px 0
}

#portfolio-details>div:last-child>section>article .developIn>span.spip {
    background-position: -144px 0
}

#portfolio-details>div:last-child>section>article .developIn>span.responsive {
    background-position: -192px 0
}

#portfolio-details>div:last-child>section>article .developIn>span.php {
    background-position: -240px 0
}

#portfolio-details>div:last-child>section>article .developIn>span.vue {
    background-position: -288px 0
}

#portfolio-details>div:last-child>section>article .developIn>span.three {
    background-position: -336px 0
}#portfolio-details>div:last-child>section>article .developIn>span.c4d {
    background-position: -384px 0
}

#portfolio-details>div:last-child>section>article .visit-site {
    display: inline-block;
    position: relative;
    top: -4px;
    text-align: left;
}

#portfolio-details>div:last-child>section>article .visit-site,
#portfolio-details>div:last-child>section>article .awards {
    margin-top: 10px;
    color: #767676;
    text-align: left;
}

#portfolio-details>div:last-child>section>article a img {
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    display: inline-block;
    position: relative;
}

#portfolio-details>div:last-child>section>article a:hover {
    opacity: 0.5;
}

#portfolio-details>div:last-child>section>article a:hover img {
    left: 10px;
}